---
import Header from '../components/header/Header.astro';
import Main from '../components/main/main.astro';
import '../style/index.css'; // Importa el CSS aquí

const projects = []; // O tu lógica de carga de repos
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nieves Pérez | Data Analyst</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
    <Header />
    <Main projects={projects} />
</body>
</html>
