@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  font-family: "ABeeZee", sans-serif;
  background-color: #000;
  color: #f6f6f9;
}

/* Evita que el header tape los títulos al hacer scroll */
section {
  scroll-margin-top: 90px;
}
