@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #000 !important;
}

body {
  font-family: "ABeeZee", sans-serif;
  background-color: #000 !important;
  color: #ffffff;
}

/* Barra lateral gris oscuro */
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: #000;
}
html::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}
