---
import "./footer.css";
---

<footer class="footer">
  <div class="container-footer">
    <div class="footer-texts">
      <h2>Nieves Pérez</h2>
      <p>Data Analyst | Business Intelligence & Operations Strategy</p>
    </div>
    
    <div class="footer-social">
      <a href="https://www.linkedin.com/in/nievesperezalonso/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/NievesPerez-Data" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://public.tableau.com/app/profile/nieves.p.rez.alonso" target="_blank">
        <i class="fa-solid fa-chart-column"></i>
      </a>
      <a href="mailto:mnieves.perez.alonso@gmail.com">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </div>
  </div>
  <p class="copy">&copy; 2026 - Hecho con ❤️ por Nieves Pérez</p>
</footer>
