<div class="container-curriculum">
        <a href="mailto:mnieves.perez.alonso@gmail.com" class="a-action">
          <i class="fa-solid fa-envelope"></i>&nbsp;Escríbeme
        </a>
        
        <a
          href="#" 
          class="a-curriculum"
          target="_blank">Ver Currículum</a
        >
      </div>

      <div class="container-social">
        <p class="">Conecta conmigo</p>
        
        <a href="https://www.linkedin.com/in/nievesperezalonso/" target="_blank" title="LinkedIn">
          <li class="li-social">
            <i class="fa-brands fa-linkedin"></i>
          </li>
        </a>

        <a href="https://github.com/NievesPerez-Data" target="_blank" title="GitHub">
          <li class="li-social">
            <i class="fa-brands fa-github"></i>
          </li>
        </a>

        <a href="https://public.tableau.com/app/profile/nieves.p.rez.alonso" target="_blank" title="Tableau Portfolio">
          <li class="li-social">
            <i class="fa-solid fa-chart-column"></i>
          </li>
        </a>

        <a href="mailto:mnieves.perez.alonso@gmail.com" target="_blank" title="Enviar Email">
          <li class="li-social">
            <i class="fa-solid fa-envelope"></i>
          </li>
        </a>
      </div>
